h1 {
	text-align: center;
	font-size: 24;
}

body {
	font-size: 20;
    background-color: #6BD9FF;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}